@charset "utf-8";
/* CSS Document */
body {
	
	background-image: url('1.png');
	background-repeat: no-repeat;
	background-size:80% 80%;
	background-attachment: fixed;
	background-position: center;
    font-family: 'museoslab500';
    text-align: center;
}
.g1{
		width: 1007px;
	height: 600px;
	margin:0 auto;
	text-align:right;
	
	}

.g2{
		width: 780px;
		height: 80px;
		font-size: 650%;
		font-style: italic;
		font-weight:bolder;
		font-family:"方正粗黑宋简体";
		text-align: center;
		margin-top: 0;
	}
	.g5{
		width: 1007px;
	height: 600px;
	margin:0 auto;
	text-align:left;
	}

a {
	margin-top: 50px;
	text-decoration:none;
}
a:link {
	color:#A71518;
}

a:hover {
	font-size: 120px;
	
}
